<%= stylesheet_link_tag 'grid', :media => "all" %>

<h1>Grid System</h1>
<h2>12分割</h2>
<div class="container">
    <div class="row">
        <div class="col-1 red">
            1
        </div>
        <div class="col-1 blue">
            2
        </div>
        <div class="col-1 green">
            3
        </div>
        <div class="col-1 yellow">
            4
        </div>
        <div class="col-1 red">
            5
        </div>
        <div class="col-1 blue">
            6
        </div>
        <div class="col-1 green">
            7
        </div>
        <div class="col-1 yellow">
            8
        </div>
        <div class= "col-1 red">
            9
        </div>
        <div class="col-1 blue">
            10
        </div>
        <div class="col-1 green">
            11
        </div>
        <div class="col-1 yellow">
            12
        </div>

    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col red">
        1 of 3
        </div>
        <div class="col-6 blue ">
        2 of 3
        </div>
        <div class="col green">
        3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col yellow">
        1 of 3
        </div>
        <div class="col-5 green">
        2 of 3
        </div>
        <div class="col yellow">
        3 of 3
        </div>
    </div>
</div>
<br>


