<%= stylesheet_link_tag 'grid', :media => "all" %>

<h1>Grid System</h1>
<h2>12分割</h2>
<div class="container">
    <div class="row">
        <div class="col-1 red">
            1
        </div>
        <div class="col-1 blue">
            2
        </div>
        <div class="col-1 green">
            3
        </div>
        <div class="col-1 yellow">
            4
        </div>
        <div class="col-1 red">
            5
        </div>
        <div class="col-1 blue">
            6
        </div>
        <div class="col-1 green">
            7
        </div>
        <div class="col-1 yellow">
            8
        </div>
        <div class= "col-1 red">
            9
        </div>
        <div class="col-1 blue">
            10
        </div>
        <div class="col-1 green">
            11
        </div>
        <div class="col-1 yellow">
            12
        </div>

    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 red">
        1 of 3
        </div>
        <div class="col-12 col-sm-4 col-md-3 red blue ">
        2 of 3
        </div>
        <div class="col-12 col-sm-4 col-md-3 red green">
        3 of 3
        </div>
        <div class="col-12 col-sm-4 col-md-3 red yellow">
        4 of 3
        </div>

    </div>
</div>
<br>

<h1>実装</h1>
<div class="container">
    <div class="row">
        <div class="col-3 red">
            col1
        </div>
        <div class="col-3 blue">
            col1
        </div>
        <div class="col-3 green">
            col1
        </div>
        <div class="col-3 blue">
            col1
        </div>
        <div class="col-3 blue">
            col1
        </div>
        <div class="col-3 green">
            col1
        </div>
        <div class="col-3 blue">
            col1
        </div>

    </div>
</div>

<h1>Grid options</h1>

<div class="container">
    <div class="row">
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 red">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 blue">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 yellow">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 green">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 blue">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 yellow">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 green">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 blue">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 yellow">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 green">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 blue">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 yellow">
            col
        </div>
        <div class = "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 green">
            col
        </div>


    </div>
</div>