<div class="jumbotron config">
    <h1 class="display-4">BootStrapゼミ!</h1>
    <p class="lead">GeekSalon福岡Web24期</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="https://getbootstrap.jp/" role="button">BootStrap公式   </a>
</div>
