h1{
    text-align: center;
}

h2{
    text-align: center;
}

.red{
    background-color: lightpink;
}

.blue{
    background-color: lightskyblue;
}

.green{
    background-color: lightgreen;
}

.yellow{
    background-color: yellow;
}